@layer base {
  ul {
    @apply mb-4 list-outside list-disc pl-4;
  }

  ol {
    @apply mb-4 list-outside list-decimal pl-4;
  }

  li {
    @apply leading-relaxed;
  }

  ul:has(li.list-none) {
    @apply pl-0;
  }

  strong {
    @apply font-semibold;
  }

  p {
    @apply mb-4;
    @apply leading-relaxed text-pretty break-words;

    overflow-wrap: anywhere;
    word-wrap: break-word;
  }
  a {
    @apply break-words;
    overflow-wrap: anywhere;
    word-wrap: break-word;
  }

  a:hover {
    @apply text-link;
  }

  a.external-link {
    @apply text-link;
  }

  blockquote {
    @apply border-quote text-quote border-l-[3px] italic;
    @apply mb-4 pl-4;
  }

  a.external-link {
    @apply hover:underline hover:underline-offset-2;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    @apply p-2.5;
    @apply rounded;
    @apply text-sm leading-snug;
    @apply mb-4;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @apply border-code-border border;

    code {
      @apply border-0;
    }
  }

  code {
    @apply bg-astro-code border-code-border rounded border p-0.5 px-1.5 font-mono text-sm;
  }

  .astro-code,
  .astro-code span {
    @apply !bg-astro-code;
  }

  hr {
    @apply border-divider my-4;
  }

  img {
    @apply aspect-video max-w-full rounded object-cover;
  }

  u {
    @apply no-underline;
  }

  p.warning {
    @apply text-warning border-l-4 pl-4 text-sm;
  }

  p.info {
    @apply text-info border-l-4 pl-4 text-sm;
  }

  details[open] > summary > svg.chevron-right {
    @apply rotate-90;
  }
}
