---
import { LayoutDefault } from "@/components/layout";

import { site } from "@/constants";

const meta = site.pages.music;
---

<LayoutDefault {...meta} type="main">
  <div class="border-divider border-b-[1px]">
    <h1>{site.pages.music.title}</h1>
    <p>
      {site.pages.music.description}
    </p>
  </div>

  <section class="space-y-4"></section>

  <section class="space-y-4"></section>

  <section></section>

  <section></section>
</LayoutDefault>
