---
import { site } from "@/constants";

interface Props {
  collection: string;
  entriesCount: number;
}

const { collection, entriesCount } = Astro.props;

---

<div class="border-divider border-b-[1px]">
  <h1>
    {site.pages.bookmarks.title} · <span
      >{collection}</span
    >
  </h1>
  <p class="text-muted/90">
    La coleccion <span class="text-muted font-medium"
      >{collection}</span
    > contiene <span class="text-muted font-medium">{entriesCount}</span> elementos.
  </p>
</div>
