---
import { Link } from "@/components/atoms";
import { RepeatIcon } from "@/components/icons";
import type { Artists } from "@/lib/music";

interface Props {
  artists: Artists;
}

const { artists } = Astro.props;

---

<section>
  <h2>En bucle últimamente <RepeatIcon className="inline-flex size-5" /></h2>
  <ul class="space-y-2">
    {
      artists.map(({ name, url, playcount }) => (
        <li class="list-none">
          <Link
            href={url}
            blank
            className="flex items-baseline justify-between gap-4"
          >
            <span class="line-clamp-1 w-full font-medium">{name}</span>
            <span class="text-muted inline-block min-w-16 text-right text-sm">
              {playcount} rep.
            </span>
          </Link>
        </li>
      ))
    }
  </ul>
</section>
